<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
           <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>jpa-2.2</feature>

        <feature>microProfile-3.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080" 
                  httpsPort="9443"
                  host="*"/>

    <webApplication location="${project.name}.war" contextRoot="/"/>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}"/>

     <dataSource id="eventjpadatasource" jndiName="jdbc/eventjpadatasource">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties.postgresql serverName="db"
                               portNumber="5432"
                               databaseName="postgres"
                               user="postgres"
                               password="postgres"/>

    </dataSource>

    <library id="postgresql-library">
        <fileset dir="/opt/ol/wlp/lib"/>
    </library>


</server>
